.areas {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.areaForYourText {
    margin: 20px 0;
    width: 50%;
}

#textareaForYourText {
    width: 100%;
    min-height: 500px;
    resize: none;
}

.textDone {
    width: 45%;
    max-height: 500px;
    overflow-y: auto;
    margin: 20px 0;
}


